:root {
  --primary: #007bff;
  --link: #007bff;
  --info: #17a2b8;
  --success: #28a745;
  --warning: #ffc107;
  --danger: #dc3545;
  --background: #fff;
  --text: #212529;
  --light-gray: #f8f9fa;
  --dark-gray: #6c757d;
  --black: #000;
  --white: #fff;
}

.light-mode {
  --primary: #007bff;
  --link: #007bff;
  --info: #17a2b8;
  --success: #28a745;
  --warning: #ffc107;
  --danger: #dc3545;
  --background: #fff;
  --text: #212529;
  --light-gray: #f8f9fa;
  --dark-gray: #6c757d;
  --black: #000;
  --white: #fff;
}

.dark-mode {
  --primary: #6c757d;
  --link: #6c757d;
  --info: #6c757d;
  --success: #9ccc65;
  --warning: #ffeb3b;
  --danger: #ff5722;
  --background: #343a40;
  --text: #fff;
  --light-gray: #6c757d;
  --dark-gray: #f8f9fa;
  --black: #fff;
  --white: #000;
}


  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* Show tooltip on hover */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


  /* TIMER */
  .timer {
    position: fixed;
    width: 135px;
    bottom: 5%;
    right: 5%;
    background-color: #fff;
    padding: 10px;
    border-radius: 7.5px;
    box-shadow: 0px -10px 100px rgb(180, 180, 180);
  }